body {
    background: rgb(176, 219, 255);
}

.todo-container {
    background: #fff;
    max-width: 600px;
    margin-top: 4rem;
    padding: 2rem;
}

.list-heading {
    text-align: center;
}

.messages {
    display: none;
}

.messages.show {
    display: block;
}

.mark-done {
    text-decoration: none;
}
.mark-done.done {
    text-decoration: line-through;
}

#todos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#todos ul > li {
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

.actions {
    padding-top: 15px;
}

.edit-mode {
    background: rgb(255, 245, 187);
}
.btn {
    display: inline-block;
    float: right;
}
