body {
    background: rgb(176, 219, 255);
}

.todo-container {
    background: #fff;
    max-width: 600px;
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 15px;
}

.list-heading {
    text-align: center;
}

.messages {
    display: none;
}

.messages.show {
    display: block;
}

.mark-done {
    text-decoration: none;
}
.mark-done.done {
    text-decoration: line-through;
}
